body {
    margin:5px;
}

.bodybox {
    margin: 0 auto;
    width: 770px;
}

.navbarbox {
    margin: 0 auto;
    width: 800px;
}

.logbox {
    margin-left: 4px;
    border: 2px solid black;
    width: 700px;
    color: white;
    background: black;
}
