{% extends "base.html" %}
{% block title %} {{job.branch}} {% endblock %}

{% block inner_content %}
	<h1>{{job.branch}}</h1>
    By user: <b>{{job.username}}</b><br>
    Status: <b>
    {% if job.success %} 
        Accepted
    {% elif job.success == None %} 
        In progress
    {% else %}
        Rejected
    {% endif %}
    </b><br>
    Progress:
    <ol>
        {% for status in job.progress %}
            <li>{{status}}</li>
        {% endfor %}
    </ol>
    Ran from {{job.start}} to {{job.end}}<br><br>

    <p>
    {% if job.success == None %}
        <form action="{{url_for('cancel_job', branch=job.branch)}}" method="post" style="display:inline-block;">
            <input type="submit" class="btn btn-default" value="Cancel" />
        </form>
    {% endif %}

    <form action="{{url_for('pull_manually', username=job.username, branch=job.branch)}}" method="post" style="display:inline-block;">
        <input type="hidden" name="redirect" value="{{url_for('get_job', id=job.branch)}}" />
        <input type="submit" class="btn btn-default" value="Re-run" />
    </form>
    </p>

    GC command log:
    <div class="logbox">
        {% for line in job.log %}
            {{line}}<br>
        {% endfor %}
    </div>
{% endblock %}
